@model Nullable<bool>
<select class="list-box tri-state" id="@ViewData.ModelMetadata.PropertyName" name="@ViewData.ModelMetadata.PropertyName">
    <option selected="selected" value="">Brak wyboru</option>
    <option value="true">Tak</option>
    <option value="false">Nie</option>
</select>